<%= form_with model: CartItem.new, url: cart_items_path, method: :post, local: true do |form| %>
  <p>
    <strong>商品名ID:</strong>
    <%= @product.id %><br>

    <strong>商品名:</strong>
    <%= @product.name %><br>

    <strong>値段:</strong>
    <%= @product.price %>円<br>

    <%= form.label :qty, '数量' %>
    <%= form.number_field :qty, in: 1..99 %><br>
    <%= form.hidden_field :product_id, value: @product.id %>
  </p>

  <%= form.submit "カートに追加" %>
<% end %>

