<body>

  <h1>カートに追加</h1>

  <div class="add">
    
    <%= form_with model: CartItem.new, url: cart_items_path, method: :post, local: true do |form| %>
        
        <p>
          <strong>商品名ID:</strong><%= @product.id %><br>
        </p>
        <p>
          <strong>商品名:</strong><%= @product.name %><br>
        </p>
        <p>
          <strong>値段:</strong>¥<%= @product.price %><br>
        </p>
        <p>
          <strong><%= form.label :qty, '数量:' %>
          <%= form.number_field :qty, in: 1..99 %><br>
          <%= form.hidden_field :product_id, value: @product.id %></strong>
        </p>
      
        <%= form.submit "追加" %>
    
    <% end %>
    
    <%=link_to products_path, class: "button_main" do %>商品一覧へ戻る<% end %>
  
  </div>

</body>