<body>

  <% if flash[:notice] %>
      <%= flash[:notice] %>
  <% end %>
  
  <h1>登録済み商品一覧</h1>
  
  <% @products.each do |product| %>
    <div class="box">
      
      <strong>商品ID:</strong><%= product.id %></br>
      <strong>商品名:</strong><%= product.name %></br>
      <strong>価格:</strong>¥<%= product.price %></br>
      <div id=button_sub>
        <%= link_to "カートに入れる", new_cart_item_path(product_id: product.id), method: :get %>
      </div>
      <%= button_to "削除", product_path(product), method: :delete %>
    
    </div>
  <% end %>
  
  <%=link_to new_product_path, class: "button_main" do %>商品登録はこちら<% end %>
  <%=link_to cart_path(1), class: "button_main" do %>カートを見る<% end %>

</body>